@model IEnumerable<WeatherWorryWonder.Models.WeatherDataFromAPI>

@{

    ViewBag.Title = "View";

}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Pressure)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Clouds)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WindSpeed)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WindDirection)
        </th>

        <th></th>

    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Clouds)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>